# Python
__pycache__/
*.py[cod]
*.log

# Virtual Environment
venv/

# Environment Variables
.env

# Upload Folder
uploads/

# VS Code
.vscode/

# Build Files
build/
dist/
*.egg-info/

# OS Files
.DS_Store
Thumbs.db